html {
    position: relative;
    min-height: 100%;
  }

body {
    background-image: url("../imgs/cave.png");
    background-position: center center;
    background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
    
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #fff;
}

.col-sm-5 {
    padding: 3%;
    margin: 1%;
}

h4 {
    padding-bottom: 3%;
    border-bottom: solid #fff 3px;
}

.gem {
    max-width: 153px;
    max-height: 123px;
    padding: 2%;
}

#gems {
    text-align: center;
}

.gem:hover {
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#score {
    padding: 2%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer */
    height: 60px;
    border-top: solid 5px #7e8edb;
    background-color: #341c50;
    text-align: center;
    margin-top: 5%;
    color: #eabafa;
  }